server {
    listen 80;
    server_name example.enfw.tech;
    add_header Strict-Transport-Security max-age=15768000;
    # HSTS
    return 301 https://$server_name$request_uri;
}


server {
    listen 443 ssl http2;
    root /workspace/outposts/example;
    server_name example.enfw.tech;
    add_header Strict-Transport-Security max-age=15768000;
    # HSTS

    ssl_certificate_key /secrets/ca/ecc/enfw.tech.key;
    ssl_certificate /secrets/ca/ecc/enfw.tech.crt;

    add_header Access-Control-Allow-Origin      $http_origin;
    add_header Access-Control-Allow-Credentials true;
    add_header Access-Control-Allow-Headers     $http_access_control_request_headers;
    add_header Access-Control-Allow-Methods     $http_access_control_request_method;
    # cors
    
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;
    # security


    charset utf-8;

    # https://github.com/panva/node-oidc-provider/blob/main/docs/README.md#trusting-tls-offloading-proxies
    location / {
        proxy_pass http://127.0.0.1:9001$request_uri;
        
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-Host $host:$server_port;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Real-IP $remote_addr;         
    }
}
