@mixin screen-max {
  @media screen and (min-width: 1920px) {
    @content;
  }
}

@mixin screen-mid {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin screen-small {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin screen-min {
  @media screen and (max-width: 575px) {
   @content;
  }
}
